@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gs-yellow: #ffd700;
  --color-gs-yellow-dark: #ffc107;
  --color-gs-yellow-light: #fff8dc;
  --color-gs-black: #1a1a1a;
  --color-gs-gray-dark: #2d2d2d;
  --color-gs-gray-medium: #6b7280;
  --color-gs-gray-light: #f3f4f6;
  --color-gs-white: #ffffff;
}
